@font-face {
    font-family: digital;
    src: url(font/digital-7-mono.ttf);
}

@font-face {
    font-family: number;
    src: url(font/mine-sweeper.ttf);
}

:root{
    --main-background-color: #b5b5b5;
    --game-background-colour:#d4d4d4;
    --inner-border-setting:.1875rem inset #ffffff;
    --settings-primary-colour:#ffffff;
    --settings-secondary-colour:#dbdbdb;
}

body{
    margin: 0rem;
    background-color: var(--main-background-color);
    position: relative;
}
.setting-container{
   text-align: end; 
}
.setting-button{
    background-color:var(--main-background-color);
    border: 0rem;
}
.setting-img{
    width:1.875rem;
    opacity: 0.5;
    height: auto;
}
.settings-options-container{
    
    position: fixed;
    top:0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    
}
.settings-options{
    font-family:Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: auto 70px 70px 70px;
    width: 340px;
    background-color:var(--settings-primary-colour);
    
}

.cells{
    /* padding: 0px 5px; */
   margin: 2px .3125rem;
}
.x-button{
    background-color: rgba(255, 0, 0, 1);
    display: inline-block;
    padding: 5px 10px;
    color:#ffffff;
}
.new-game-button-container{
    background-color:#dbdbdb;
    grid-column-start: 1;
    grid-column-end: 5;
}
.new-game-button{
    margin: 5px;
}
.game-container{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.border{
    border: .3125rem outset #ffffff;
    padding: .625rem;
    background-color: var(--game-background-colour);
}

.hud{
    font-family: "digital";
    display: flex;
    padding: .3125rem;
    align-items: center;
    justify-content: space-between;
    border: var(--inner-border-setting);
}
.bomb-left-background,.time-taken-background{
    position: relative;
    font-size: 2.1875rem;
    color: rgba(255, 0, 0, 0.242);
    background: #000000;
}
.bomb-left-counter,.time-taken-counter{
    content: "000";
    font-size: inherit;
    left: 0rem;
    position: absolute;
    color: rgba(255, 0, 0, 1);
}

.face-button{
    background-color: var(--game-background-colour);
    border: .3125rem outset #ffffff;
}
.face-image{
    width: 1.25rem;
    height: auto; 
}

.board{
    border: var(--inner-border-setting);
    margin-top: .625rem;
    display: flex;
    flex-wrap: wrap;
    min-width:9.375rem;
}
.tile{
    text-align: center;
    font-family: "number";
    padding: 0rem;
    font-size: .625rem;
}

.tile-hidden{
    border: .125rem outset #ffffff;
}
.tile-visible{
    border: .125rem solid #adadad;
}

.img-tile{
    width: auto;
    height: .9375rem;
}

  